html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Georgia, Times, "Times New Roman", serif;
}

#header-menu .pure-button {
    display: inline-block;
    text-align: center;
}

.header {
    background-color: rgb(13, 27, 75);
    color: white;
    height: 80px;
    width: 100%;
}

.header h1 {
    /*padding-left: 30px;*/
}

.header img {
    display: flex;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;
}

.main-body {
    padding-left: 20px;
    padding-right: 20px;
}

#header-buttons {
    padding: 20px;
}

/*.container {*/
/*    border-radius: 5px;*/
/*    !*margin: 0 auto;*!*/
/*    margin: 20px;*/
/*    padding: 10px;*/
/*}*/

#myCanvas {
/ / border: 1 px solid black;
}

.demo-button {
    margin: 5px;
}

/*#pooltable {*/
/*    border: 1px solid black;*/
/*}*/

#poolTitle {
    margin-bottom: 10px;
}

#header-menu {
    display: inline-block;
    width: 50%;
    text-align: center;
    margin-top: 20px;

}

