body {
    font-family: Arial, Calibri, serif;
}

.container {
    margin: 15px;
    background-image: linear-gradient(to bottom right, #dddddd, #ffffff);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#myCanvas {
    border: 1px solid black;
}

h1 {
    color: slategrey;
}

/*#pooltable {*/
/*    border: 1px solid black;*/
/*}*/

#poolTitle{
    margin-bottom: 10px;
}



