/*body {*/
/*    font-family: Arial, Calibri, serif;*/
/*    !*background-color: darkgray;*!*/
/*}*/

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Georgia, Times, "Times New Roman", serif;
}

.header{
    background-color: black;
    color: white;
}
.header h1 {
    padding-left: 20px;
}

.main-body {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    background-color: aliceblue;
    border-radius: 5px;
    margin: 0 auto;
    padding:10px;
}

#myCanvas {
/ / border: 1 px solid black;
}

.demo-button {
    margin: 5px;
}

/*#pooltable {*/
/*    border: 1px solid black;*/
/*}*/

#poolTitle {
    margin-bottom: 10px;
}



